.hero {
  display: flex;
  align-items: stretch;
  height: 100%;
  &-section {
    position: relative;
    height: 100vh;
    height: calc(95vh - 110px);
    margin: 0 auto;
    margin-top: 44px;
    padding-bottom: 44px;
    margin-bottom: 64px;
    position: relative;
    width: 1280px;

    &--width {
      height: 696px;
    }
    
  }
  &__content {
    width: 50%;
    margin-left: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__bg {
    width: 50%;
    display: flex;
  }
  &__pic {
    display: flex;
    align-items: flex-end;
    height: 68%;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 8px;

    background: center / contain no-repeat url('./../assets/img/hero__bg.png');
    align-self: center;
    &::before {
      position: absolute;
      content: '';
      z-index: 10;
      background-color: $green;
      border-radius: 4px 0 0 4px;
      height: 8px;
      width: 100%;
      right: 0;
      bottom: 0px;
    }
    &--main {
      background: center / contain no-repeat url('./../assets/img/hero__bg.png');
    }
    &--csgo {
      background: center / contain no-repeat url('./../assets/img/hero__bg--csgo.png');
      &::before {
        background-color: $csgo;
      }
    }
    &--dota {
      background: center / contain no-repeat
        url('https://it-events.com/system/event_photos/imgs/000/013/288/original/hero__bg--dota.png');
      &::before {
        background-color: $dota;
      }
    }
    &--lol {
      background: center / contain no-repeat
        url('https://it-events.com/system/event_photos/imgs/000/013/287/original/hero__bg--lol.png');
      &::before {
        background-color: $lol;
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 49px;
    text-transform: uppercase;
    margin-bottom: 16px;
    &--heit-font {
      display: block;
      font-size: 80px;
    }
    &--middle-font {
      display: block;
      font-size: 72px;
    }
  }
  &__subtitle {
    color: $green;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 80px;

    &--csgo {
      @include csgo;
    }
    &--dota {
      @include dota;
    }
    &--lol {
      @include lol;
    }
  }
  &__line {
    align-self: flex-end;
    transition: 0.5s;
    width: 100%;
    display: block;
    z-index: 10;
    background-color: $green;
    border-radius: 4px 0 0 4px;
    height: 8px;
    right: 0;
    bottom: 0px;
    &--main {
      background-color: $green;
    }
    &--csgo {
      background-color: $csgo;
    }
    &--dota {
      background-color: $dota;
    }
    &--lol {
      background-color: $lol;
    }
  }
}
