.hero {
  &-section {
    // height: 100vh;
    margin: 0 auto;
    margin-top: 44px;
    padding-bottom: 44px;
    margin-bottom: 64px;
    position: relative;
    width: 1440px;
    background: bottom -10px right / contain no-repeat url('./../assets/img/hero__bg.png');
    &--main {
      background: bottom -10px right / contain no-repeat url('./../assets/img/hero__bg.png');
    }
    &--csgo {
      background: bottom -10px right -203px / 79% no-repeat
        url('./../assets/img/hero__bg--csgo.png');
    }
    &--dota {
      background: bottom -10px right 30px / contain no-repeat url('./../assets/img/hero__bg--dota.png');
    }
    &--lol {
      background: bottom -10px right 150px / contain no-repeat url('./../assets/img/hero__bg--lol.png');
    }
  }
  &__title {
    font-weight: bold;
    font-size: 49px;
    text-transform: uppercase;
    margin-bottom: 16px;
    &--heit-font {
      display: block;
      font-size: 80px;
    }
    &--middle-font {
      display: block;
      font-size: 72px;
    }
  }
  &__subtitle {
    color: $green;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 80px;

    &--csgo {
      @include csgo;
    }
    &--dota {
      @include dota;
    }
    &--lol {
      @include lol;
    }
  }
  &__line {
    transition: 0.5s;
    position: absolute;
    z-index: 10;
    background-color: $green;
    border-radius: 4px 0 0 4px;
    height: 8px;
    width: 50%;
    right: 0;
    bottom: 0px;
    &--main {
      background-color: $green;
    }
    &--csgo {
      background-color: $csgo;
    }
    &--dota {
      background-color: $dota;
    }
    &--lol {
      background-color: $lol;
    }
  }
}
