.menu {
  position: sticky;
  min-width: 1440px;
  z-index: 100;
  width: 100%;
  top: 0;
  font-size: 18px;
  background-color: #191919;
  // background-color: #000;
  &__list {
    margin-left: 202px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-right: 34px;
  }
  &__link {
      &:hover {
          color: $green;
      }
  }
}
.header {
  position: relative;
  // height: 168px;
  padding: 17px 0;
  display: flex;
  align-items: center;
}
.logo {
  // animate__slideInLeft
  display: block;
  padding: 4px;
  height: 76px;
  width: 110px;
  overflow: hidden;
  // margin-right: 92px;
  position: absolute;
  bottom: -14px;
  background-color: #191919;
  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
