.places {
  display: flex;
  justify-content: space-between;
  //   align-items: sr;

  &__item {
    width: 32%;
    height: 377px;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    justify-content: center;
    color: $yellow;
    position: relative;

    &--2nd {
      color: #c8c8c8;
    }
    &--3nd {
      color: #a05700;
    }
    &:hover {
      margin-top: -25px;
      background-color: $yellow;
      &::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        content: '';
        border-left: 16px solid #191919;
        border-bottom: 16px solid #191919;
        border-top: 16px solid $yellow;
        border-right: 16px solid $yellow;
      }
      &::before {
        position: absolute;
        right: 0;
        top: -1px;
        content: '';
        border-right: 16px solid #191919;
        border-top: 16px solid #191919;
        border-bottom: 16px solid $yellow;
        border-left: 16px solid $yellow;
      }
      & .prises {
        display: flex;
      }
      & .places__number,
      .places__subtitle {
        display: none;
      }

    }
  }
  &__number {
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
  }
  &__subtitle {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  &__prize {
    background-color: $green;
    color: #000000;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    &-item {
      margin-left: 24px;
      position: relative;
      margin-bottom: 2px;
      line-height: 1.2;
      &:before {
        position: absolute;
        content: '';
        height: 15px;
        width: 15px;
        top: 6px;
        left: -24px;
        background-color: #000000;
      }
    }
  }
}

.section__title--with-icon {
  margin-left: 100px;
  position: relative;
  &::before {
    left: -237px;
  }
  &::after {
    position: absolute;
    display: block;
    content: url(./../assets/img/cup.svg);
    // height: 93px;
    width: 79px;
    left: -98px;
    top: -28px;
  }
}
