.tickets {
  display: flex;
  justify-content: space-between;

  &__item {
    width: 49%;
    border: 3px solid $green;
    padding: 3px;
    border-radius: 0 25px;

    &--unactive {
      & .tickets__price {
        &-col {
          border-right: 3px solid #31371f;
        }
        &-row {
          border-bottom: 3px solid #31371f;
        }
      }
      & .tickets__condition {
        background-color: transparent;
        color: $green;
      }

      & .tickets__price-summ {
        color: #191919;
        -webkit-text-stroke: 2px $green;
      }
      & .btn {
        color: #31371f;
        border: 3px solid #31371f;
        background-color: transparent;
        pointer-events: none;
      }
    }
  }

  &__condition {
    border: 3px solid $green;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    text-align: center;
    border-radius: 0 20px 0 0;
    background-color: $green;
    color: #000000;
    margin-bottom: 3px;
  }

  &__price {
    display: flex;
    margin-bottom: 3px;

    &-col {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-right: 3px solid $green;
      margin-right: 3px;
      &:last-child {
        border-right: none;
        margin-right: 0;
      }
    }

    &-row {
      border-bottom: 3px solid $green;
      width: 100%;
      &:last-child {
        border-bottom: none;
      }
    }
    &-summ {
      color: $green;
      font-weight: 700;
      font-size: 54px;
      margin-bottom: 10px;
      &--small-font {
        font-size: 36px;
        margin-bottom: 0;
      }
    }
    &-team {
      margin-bottom: 13px;
      &--small-font {
        font-size: 18px;
      }
    }
  }
}

.btn {
  display: block;
  color: #000000;
  background-color: $green;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  border-radius: 0 0 0 20px;
  padding: 26px 0;

  &--buy {
    width: 100%;
    border: 3px solid $green;
    &:hover {
      background-color: #ffff00;
    }
  }

  //   &--nonactive {
  //     color: #31371f;
  //     border: 3px solid #31371f;
  //     background-color: transparent;
  //     pointer-events: none;
  //   }
}
